<div class="container">
  <div class="info-box row">
    <div class="info-box-cover col-lg-4">
      <img
        class="rounded"
        src="https://image.tmdb.org/t/p/w500/{{ data?.poster_path }}"
        alt="{{ data?.name }}"
      />
    </div>

    <div class="info-box-data col-lg-8">
      <div class="info-box-overview">
        <div class="info-box-title">
          <h1>
            {{ data?.name }}
            <span>({{ data?.first_air_date | date: 'yyyy' }})</span>
            <add-to-list-button [icon]="faBookmark" [serieId]="data?.id ?? 0"></add-to-list-button>
          </h1>
        </div>
        <div class="info-box-description" *ngIf="data?.overview">
          <h2>Sipnosis</h2>
          <p>
            {{ data?.overview }}
          </p>
        </div>
        <div class="info-box-next" *ngIf="data?.next_episode_to_air">
          <h2>Próximo episodio:</h2>
          <p>
            T{{ data?.next_episode_to_air?.season_number }} E{{
              data?.next_episode_to_air?.episode_number
            }}
            -
            {{ data?.next_episode_to_air?.air_date | date: 'dd/MM/yyyy' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
