.info-box {
    &-title {
        h1 {
            font-size: 3rem;

            span {
                color: #8a8d98;
                font-size: 2rem;
            }
        }
    }

    &-cover {
        grid-area: cover;
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &-data {
        grid-area: data;
    }

    &-overview {
        h2 {
            color: #8a8d98;
        }
    }
}
