.emptyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
    text-align: center;

    svg {
        max-width: 100%;
        max-height: 300px;
    }

    .help-text {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
  


        p {
            font-size: 1rem;
            margin-top: 1rem;
            color: #969ba1;
        }
    }


}

a {
    background-color: #188580;
    padding: 0 1rem;
    border-radius: 0.5rem;
    transition: 0.3s;

    fa-icon {
        font-size: 1.5rem;
        color: white;
    }

    &:hover {
        cursor: pointer;
        background-color: darken(#188580, 5%);
    }
}