.series-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    padding: 1rem 0;
    gap: 1rem;

}

.skeleton-teaser {
    height: clamp(240px, 260px, 340px);
    // border: 1px solid red;
}