.serie-teaser {
  position: relative;
  height: 100%;
  border-radius: 0.5rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &:hover &-options {
    visibility: visible;
    box-shadow: inset 0px 65px 38px -3px rgba(0, 0, 0, 0.1), inset 0px -65px 38px -11px rgba(0, 0, 0, 0.1);
  }


  &-options {
    visibility: hidden;
    position: absolute;

    top: 0;
    left: 0;
    padding-top: 0.5rem;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: box-shadow 0.1s ease-in-out;
    fa-stack {
      opacity: 0.5;
    }

    a {
      cursor: pointer;
    }
  }

  &-detail {
    background-color: #007785;
    border-radius: 0.5rem;
    color: white;
    padding: 0.5rem;
    margin: 0.3rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    opacity: 0.9;
  }

}
