<div class="serie-teaser">
    <a  [routerLink]="['/serie', serieData?.id]" >
        <img src="https://image.tmdb.org/t/p/w500/{{serieData?.poster_path}}"
            alt="{{serieData?.name}}">
        <div class="serie-teaser-options">
            <a href="#">
                <fa-stack>
                    <fa-icon [icon]="faCircle"
                        [inverse]="true"
                        stackItemSize="1x"></fa-icon>
                    <fa-icon [icon]="faPlus"
                        stackItemSize="1x"></fa-icon>
                </fa-stack>
            </a>
        </div>
    </a>
</div>