@import "~normalize.css";
@import '~ngx-toastr/toastr';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "variables.scss";
@import "../node_modules/angular-calendar/scss/angular-calendar.scss";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

// @include media-breakpoint-up(sm) {  }
// @include media-breakpoint-up(md) {  }
// @include media-breakpoint-up(lg) {  }
// @include media-breakpoint-up(xl) {  }
// @include media-breakpoint-up(xxl) {  }

* {
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

body {
  background-color: rgb(26, 29, 41);
}

h1, h2 {
  color: white;
  font-size: 1.5rem;
}

p {
  color: white;
}


