@import "~normalize.css";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";

@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

@import "~bootstrap/scss/utilities"; // Configures the utility classes that should be generated
@import "~bootstrap/scss/utilities/api"; // Generates the actual utility classes

// @include media-breakpoint-up(sm) {  }
// @include media-breakpoint-up(md) {  }
// @include media-breakpoint-up(lg) {  }
// @include media-breakpoint-up(xl) {  }
// @include media-breakpoint-up(xxl) {  }

* {
    font-family: sans-serif;
}
body,
html {
    height: 100%;
}
body {
    background-color: rgb(26, 29, 41);
}

h1 {
    color: white;
    font-size: 1.5rem;
}
p {
    color: white;
}
