.navbar {

    width: 100%;
    
}


.navbar-menu {
    display: flex;
    padding: 1.5rem;
    list-style: none;
    gap: 1.5rem;
    font-size: 0.75rem;
    letter-spacing: 2px;
    position: relative;
    // border-bottom: 1px solid darken(#1a1d29, 3%);
    box-shadow: 0 4px 2px -2px darken(#1a1d29, 3%);
}

.navbar-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    span {
        position: relative;
        padding: 0.3em 0;

        &:after {
            height: 2px;
            position: absolute;
            content: "";
            transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
            background-color: white;
            width: 0;
            bottom: 0;
            left: 0;
        }
    }

    &:hover span::after {
        width: 100%;
    }
}

fa-icon {
    margin-right: 0.5rem;
    font-size: 0.75rem;
}

.search-input {
    display: none;
    top: 4.5rem;
    left: 0;
    width: 100vw;
    background-color: rgb(75, 78, 90);
    height: 100px;
    padding-left: calc(3.5vw + 24px);
    font-size: 2rem;
    border: 0;
    caret-color: white;
    color: white;
    transform: scale(0);
    z-index: 9;

    &::placeholder {
        color: whitesmoke;
    }

    &:focus {
        border: 0;
        outline: 0;
    }
}

@keyframes anim {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.active {
    display: block;
    opacity: 1;
    animation: anim 0.1s ease-in-out;
    transform: scale(1);
}
